.login-button {
    -fx-background-color: #1F51FF;
    -fx-border-color: transparent;
    -fx-border-radius: 6;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 3, 0.0, 0, 1);
}

.login-button:hover {
    -fx-background-color: #000080;
}

.login-button:focused {
    -fx-background-color: #000080;
    -fx-border-width: 1px;
    -fx-border-color: #4facfd;
}

.cancel-button {
    -fx-background-color: #C0392B;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-border-color: transparent;
}

.cancel-button:hover {
    -fx-background-color: #E74C3C;
}

.cancel-button:selected,
.cancel-button:focused {
    -fx-background-color: #A93226;
    -fx-border-width: 2;
}

.cancel-button:disabled {
    -fx-background-color: #A9A9A9;
    -fx-text-fill: #D3D3D3;
    -fx-border-color: transparent;
}


.text-field, .password-field {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 12px;
    -fx-text-fill: #333;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 1);
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #007bff;
    -fx-background-color: #ffffff;
    -fx-effect: innershadow(gaussian, rgba(0, 123, 255, 0.5), 3, 0, 0, 0);
}

.text-field:hover, .password-field:hover {
    -fx-border-color: #0056b3;
}


.text-field:disabled, .password-field:disabled {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #b0b0b0;
    -fx-text-fill: #7a7a7a;
}
