/* Định dạng chung cho nút */
.button {
    -fx-background-color: #1F51FF; /* Màu nền xanh khi không hover */
    -fx-border-color: transparent;
    -fx-border-radius: 3px; /* Bo góc nhẹ */
    -fx-text-fill: white; /* Màu chữ */
    -fx-font-size: 12px; /* Font chữ nhỏ hơn */
    -fx-padding: 5px 10px; /* Khoảng cách bên trong nhỏ hơn */
    -fx-cursor: hand; /* Con trỏ chuột */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 3, 0.0, 0, 1); /* Hiệu ứng bóng */
}

/* Hiệu ứng hover cho nút */
.button:hover {
    -fx-background-color: #000080; /* Màu xanh đậm hơn khi hover */
}

/* Khi được chọn (focused) */
.button:focused {
    -fx-background-color: #000080; /* Màu xanh đậm */
    -fx-border-width: 1px; /* Đường viền mỏng hơn */
    -fx-border-color: #4facfd; /* Viền xanh nhạt khi chọn */
}


/* Định dạng chung cho nút Cancel */
.cancel-button {
    -fx-background-color: #EE4B2B; /* Màu đỏ nhạt khi chưa chọn */
    -fx-border-color: transparent; /* Không viền */
    -fx-background-radius: 5px; /* Bo góc mềm */
    -fx-text-fill: white; /* Màu chữ trắng */
    -fx-font-size: 12px; /* Font chữ nhỏ */
    -fx-padding: 5px 10px; /* Khoảng cách bên trong */
    -fx-cursor: hand; /* Con trỏ chuột khi di chuột qua */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 4, 0.0, 0, 1); /* Hiệu ứng bóng nhẹ */
}

/* Hiệu ứng khi hover vào nút Cancel */
.cancel-button:hover {
    -fx-background-color: #880808; /* Màu đỏ đậm hơn khi hover */
}

/* Hiệu ứng khi nút Cancel được chọn (focused) */
.cancel-button:focused {
    -fx-background-color: #900C3F; /* Màu đỏ đậm khi được chọn */
    -fx-border-width: 1px; /* Đường viền mỏng */
    -fx-border-color: #B32F23; /* Viền đỏ đậm */
}


/* Định dạng cho TextField và PasswordField */
.text-field, .password-field {
    -fx-background-color: white; /* Màu nền trắng */
    -fx-border-color: #ccc; /* Màu viền xám nhạt */
    -fx-border-radius: 5px; /* Bo góc nhẹ */
    -fx-padding: 5px; /* Khoảng cách bên trong nhỏ */
    -fx-font-size: 12px; /* Kích thước chữ nhỏ hơn */
    -fx-text-fill: #333; /* Màu chữ đậm */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 1); /* Hiệu ứng bóng */
}

/* Khi được chọn (focused) cho TextField và PasswordField */
.text-field:focused, .password-field:focused {
    -fx-border-color: #007bff; /* Viền xanh khi chọn */
    -fx-background-color: #ffffff; /* Nền trắng khi chọn */
    -fx-effect: innershadow(gaussian, rgba(0, 123, 255, 0.5), 3, 0, 0, 0); /* Hiệu ứng bóng */
}

/* Khi hover cho TextField và PasswordField */
.text-field:hover, .password-field:hover {
    -fx-border-color: #0056b3; /* Màu viền đậm hơn khi hover */
}

/* Khi không hoạt động cho TextField và PasswordField */
.text-field:disabled, .password-field:disabled {
    -fx-background-color: #e0e0e0; /* Nền xám khi không hoạt động */
    -fx-border-color: #b0b0b0; /* Viền xám khi không hoạt động */
    -fx-text-fill: #7a7a7a; /* Chữ xám khi không hoạt động */
}
